replicas: 2
gcp:
  databaseInstance: ent-nanna-prd:europe-west1:nanna-db-pg13

chouette:
  service: http://chouette.prd.entur.internal

ingress:
  domain: .entur.io
  providers:
    name: timetable-admin-v1-providers

organisation:
  service: http://baba.prd.entur.internal

roleAssignmentExtractor: baba

auth0:
  entur:
    internal:
      url: https://internal.entur.org/
      audience: https://api.entur.io
    partner:
      url: https://partner.entur.org/
      audience: https://api.entur.io,https://portal.entur.org

oauth2:
  client:
    id: 2vJ3h0LzQZGmX2JIc72yHqXU5QHrlULV
    url: https://internal.entur.org/oauth/token
    audience: https://api.entur.io

monitoringEnabled: true
